#rpstitle{
    text-align: center;
    font-size: 3.5rem;
    color: hsl(0, 0%, 38%);
}
#rps{
    text-align: center;
}
.iconbutton{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: linear-gradient(45deg, #4CAF50, #2E7D32);
    color: white;
    border: none;
    font-size: 6rem;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background 0.3s, transform 0.3s;
    margin: 25px;
}
.iconbutton:hover{
    transform: scale(1.1);
}
.values{
    font-size: 2.5rem;
    font-weight: bold;
}
#result{
    font-size: 4.3rem;
    font-weight: bold;
}
